.full-body {
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    position: absolute;
  
    display: flex;
    flex-direction: column;

    background-image: url('/assets/peloton.png');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.shadow-background {
    box-shadow:inset 0 0 0 2000px rgba(17, 0, 255, 0.3);
}

.content {
    animation: 1s ease-out 0s 1 slideInFromLeft;


    width: 100%;
    height: 100%;
    
  
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.header-text {
    font-weight: 800;
    color: rgb(78, 78, 78);
    display: flex;
    align-items: center;
}

.header-item {
    margin-left: 10px;
}

.header-collapsed {
    height: 0px;

    visibility: hidden;
}

.header-animated {
    animation: 3s ease-out 1s 1 slideInFromTop;
    animation-fill-mode: forwards;
}

.header {
    background-color: black;
    width: 100%;
}

.header-extended {
    height: 70px;
    visibility: visible;
}

.footer {
    background-color: black;
    width: 100%;
    _height: 0px;

    _animation: 3s ease-out 1s 1 slideInFromTop;
    _animation-fill-mode: forwards;

    _visibility: hidden;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.copyright {
    opacity: 0;
    color: rgb(80, 79, 79);

    animation: 3s ease-out 1s 1 slideInFromLeft;
    animation-fill-mode: forwards;
}

@keyframes slideInFromTop {
    0% {
        height: 0px;
        visibility: visible;
    }
    100% {
        height: 70px;
        visibility: visible;
    }
  }



@keyframes slideInFromLeft {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
  }


.box {
    __position: absolute;
    _background-color: white;
    _opacity: 0.5;

    _border: black 5px solid;
    _border-radius: 50px;

    _position: fixed;
    _top: 50%;
    _left: 50%;
    _margin-top: -50px;
    _margin-left: -200px;

    _width: 500px;
    _height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tittle {
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;

    font-weight: 700;
    font-size: 6vw;
    
    _-webkit-text-stroke-width: 1px;
    _-webkit-text-stroke-color: #000;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.button {
    __background-color: white;
    background-color: transparent;
    background-repeat: no-repeat;

    border: white 1px solid;
    border-radius: 5px;

    width: 180px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
    
    color: white;

    font-weight: 700;
    font-size: large;
}

.button:hover {
    background-color: rgb(118, 116, 116);
    opacity: 80%;
    cursor: pointer;
}

.button:focus {     
    background-color: white;
    color: black;
}

@media only screen and (max-width: 600px) {
    .tittle {
       font-size: 9vw;
    }
}