html, body {
    margin: 0;
    padding: 0;
    color: blanchedalmond;
    background-color: #303030;
}

canvas {
    display: block;
}

.clock {
    font-size: x-large;
    
}

.stage-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
}

.stage-top-profile {
    width: 25vw;
    height: 100%;
    overflow: hidden;
    background-color: blueviolet;
}

#profileCanvas {
    border: solid 1px blue;  
    width: 100%;
    height: 100%;
  }

.stage-top-profile-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.stage-top-profile-content-axisWhite {
    color: blanchedalmond;
}

.stage-top-profile-content-axisWhite line {
    stroke: blanchedalmond !important;
}

.stage-top-profile-content-axisWhite text {
    fill: blanchedalmond !important;
}

.stage-bottom {
    height: 20%;
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;   
}