html, body {
    margin: 0;
    padding: 0;
  }
  
  
  canvas {
    display: block;
  }
  
  .viewport {
    overflow-x: auto;
    width: 100%;
    height: 300px;
  }
  
  
  .item-footer {
   display: none;
   background: blue;
  }
  
  .item-props {
    height: 40px;
  }
  
  .item-actions {
    height: 40px;
  }
  
  
  @media (orientation: portrait) {
    .container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    width: 100%;
    height: 300px;
  }
  
    
    .container-left {
    display: flex;
    width: 30%;
    max-width: 140px;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }
    
  .container-right {
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  }
  
  @media (orientation: landscape) {
    
    .container {
    opacity:    0.75; 
    background: #000; 
    width:      100%;
    height:     100%; 
    z-index:    10;
    bottom:      0; 
    left:       0; 
    position:   fixed; 
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    width: 100%;
    height: 60px;
  }
  
  .selected .item-header {
    __display: none !important;
    height: 20px !important;
  }
  
  .selected .item-body {
    display: none !important;
  }
  
  .selected .item-header-id{
    font-size: 18px;
    opacity: 1 !important;
  }
  
  .details-header-status-item {
      display: flex;
      flex-direction: column;
      width: 20px;
      background-color: aquamarine;
      align-items: center;
  }
  .details-header-status {
      display: flex;
      flex-direction: row;
      height: 100%;
      background-color: green;
  }
  
  .selected .item-footer {
   display: flex;
   background: blue;
    height: 60px;
    opacity: 1 !important;
    z-index: 10000;
    overflow: visible;
    align-items: stretch;
    flex-direction: column;
  }
  
  .selected:first-of-type {
    transform: translateY(-10px);
    width: 180px !important;
    margin: -20px !important;
    margin-left: 0px !important;
  }
  .selected:last-of-type {
    transform: translateY(-10px);
    width: 180px !important;
    margin: -20px !important;
    margin-right: 0px !important;
  }
  .selected {
    __margin-bottom: -100px;
    __overflow: visible;
    transform: translateY(-10px);
    width: 180px !important;
    margin: -20px !important;
    height: 150px !important;
    opacity: 1 !important;
  }
  
  .stage {
    opacity:    0.5; 
    background: #000; 
    width:      200px;
    height:     110px; 
    z-index:    10;
    top:      0; 
    right:       0; 
    position:   fixed; 
    padding: 0;
    margin: 0;
  }
  
    
    .container-left {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100%;
    overflow-y: none;
  }
    
    
  .container-right {
    width: 0px;
    display: none;
    flex-direction: column;
  }
  }
  
  
  .selected {
    color: red !important;
    background-color: red !important;
  }
  
  .item {
    background: #DAA520;
    padding: 1px;
    width: 120px;
    height: 50px;
    margin: -2px;
    
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    
    display: flex;
    flex-direction: column;
  }
  
  .selected > .item-header {
    color: red !important;
    font-weight: bold !important;
  }
  
  .item-header {
    background: moccasin;
    height: 50%;
    font-size: 10px;
    text-align: left;
    color: black;
    display: flex;
    flex-direction: row;
  }
  
  .item-header-id {
    font-size: 15px;
  }
  
  .item-body {
    background: #303030;
    height: 50%;
    text-align: left;
  }
  
  .icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-size: cover;
    margin: -1px;
    z-index: 10;
  }
  
  .icon-batery {
    background-color: red;
    -webkit-mask-image: url(https://raw.githubusercontent.com/microsoft/fluentui-system-icons/master/assets/Battery%200/SVG/ic_fluent_battery_0_24_filled.svg);
    mask-image: url(https://raw.githubusercontent.com/microsoft/fluentui-system-icons/master/assets/Battery%200/SVG/ic_fluent_battery_0_24_filled.svg);
  }
  
  .icon-heart {
    background-color: red;
    -webkit-mask-image: url(https://raw.githubusercontent.com/microsoft/fluentui-system-icons/master/assets/Heart%20Pulse/SVG/ic_fluent_heart_pulse_24_regular.svg);
    mask-image: url(https://raw.githubusercontent.com/microsoft/fluentui-system-icons/master/assets/Heart%20Pulse/SVG/ic_fluent_heart_pulse_24_regular.svg);
  }
  
  .icon-wind {
    background-color: red;
    -webkit-mask-image: url(https://raw.githubusercontent.com/microsoft/fluentui-system-icons/master/assets/Weather%20Squalls/SVG/ic_fluent_weather_squalls_24_filled.svg);
    mask-image: url(https://raw.githubusercontent.com/microsoft/fluentui-system-icons/master/assets/Weather%20Squalls/SVG/ic_fluent_weather_squalls_24_filled.svg);
  }
  
  .icon-watts {
    background-color: red;
    -webkit-mask-image: url(https://raw.githubusercontent.com/microsoft/fluentui-system-icons/master/assets/Flash%20On/SVG/ic_fluent_flash_on_24_filled.svg);
    mask-image: url(https://raw.githubusercontent.com/microsoft/fluentui-system-icons/master/assets/Flash%20On/SVG/ic_fluent_flash_on_24_filled.svg);
  }
  
  
  .details-header {
    height: 20%;
    width: 100%;
    background: red;
    display: flex;
    flex-direction: column;
  }
  
  .details-header-identification {
      display: flex;
      flex-direction: row;
      height: 50%;
  }
  
  .details-header-id {
    margin-left: 10px;
    font-size: 1.5rem;
  }
  
  .details-header-features {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .details-header-status {
      display: flex;
      flex-direction: row;
      height: 50%;
      background-color: green;
  }
  
  .details-header-status-item {
      display: flex;
      flex-direction: column;
      width: 50px;
      background-color: aquamarine;
      align-items: center;
  }
  
  
  .details-header-status-value {
      font-size: 0.8rem;
      display: flex;
      align-items:flex-end;
      height: 60%;
  }
  
  .details-header-status-metric {
      font-size: 0.4rem;
      height: 40%;
      display: flex;
      align-items: center;
  }
  
  
  
  .details-body {
      height: 45%;
      width: 100%;
  
    background: #42445A;
  background-image: url("Assets/311822.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .box {
    background: rgba(255,255,255,.3);
    height: 40px;
    position: absolute;
    width: 80px;
  }
  .box-1 {
    top: 25%;
    left: 0px;
    width: 120px !important;
  }
  .box-2 {
    top: 0;
    right: 35%;
  }
  .box-3 {
    top: 25%;
    right: 0px;
  }
  .box-4 {
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .box-x {
    display: none;
  }
  
  .details-body-messages {
    padding: 5px;
    color: white;
    font-size: 0.6rem;
  }
  
  .details-footer-slider {
    width: 100%;
  }
  
  .details-footer {
    height: 35%;
    width: 100%;
    align-items: center;
  }