<div class="stage-top">

<div id="arena-wrapper">
  <div class="floating-bar">
    <div id="clock" class="floating-bar-main">
        Clock
    </div>
    <div id="groups" class="floating-bar-secondary">
        Groups
    </div>
    <div id="contextMenu" class="floating-bar-third">
      menu
    </div>
    </div>
    
    <div id="arena">
        Arena
    </div>
</div>

</div>

<div id="profile">
        Profile
</div>

<div class='stage-bottom'>
  <div id='teamMemberSelectedID' class='teamMemberSelected'>
    selected
  </div>
  <div id="team" class="team-stage-bottom">
    Team
  </div>
</div>