<div class='details-box'>
 <div class='details-box-header'>
   <div class='number'><%= number %></div>
   <span class='name'><%= name %></span>
 </div>
  <div class='details-box-body'>
    <span>Ll:</span><span><%= llano %></span> - <span>Mo:</span><span><%= montana %></span> - <span>Sp:</span><span><%= sprint %></span> - <span>Ba:</span><span><%= bajada %></span> - <span>For:</span><span><%= estadoForma %></span>
 </div>
  <div id='teamMemberActions' class='details-box-footer'>
    <button>action</button>
 </div>
</div>