<div id="teamMember_<%= number %>" class="teamMember">
    <div>
        <span class="teamMember-id"><%= number %></span>
        <span class="teamMember-member">Member</span>
    </div>
    <div id="teamMemberActions_<%= number %>" class="teamMember-actions">
        <div class="menu-item">
            <a href="#">action1</a>
        </div>
        <div class="menu-item">
            <a href="#">action2</a>
        </div>
    </div>
    <div id="teamMemberData_<%= number %>" class="teamMember-properties">
        Loading...
    </div>
</div>